{%extends "base.html" %}
{% load materializecss %}
{%block conteudo%}

<main>
    <div class="row">
        <div class="col s8 offset-s1">
            <div class="container">
                <div class="row">
                    <table>
                        <thead>
                            <tr>
                                <th>Eleitor</th>
                                <th>Candito</th>
                                <th>Quantidade de votos </th>
                            </tr>
                        </thead>            
                        <tbody>
                            {% for obj in todas_votacoes %}
                                <tr>
                                    <td>
                                        {%if votacao.anonimo != True%}

                                        {{obj.pessoa}}


                                        {%else%}

                                        Anônimo

                                        {%endif%}
                                    </td>
                                    <td>
                                        {{ obj.opcao_voto }}
                                    </td>
                                    <td>
                                        {{ obj.quantidade_votos }}
                                    </td>
            
                                </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col s2 margin20 ">
            <a class=" btn waves-effect blue-grey lighten-1 z-depth-1 " href="{% url 'index'%}">
                <i class="material-icons right">widgets</i>Menu
            </a>
        
        </div>
    </div>
    

</main>



{%endblock conteudo%}

{% block scripts%}


{% endblock%}